form {
    width: 100%;
    padding: 30px;
    border-radius: 36px;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
    background-color: var(--secondary-design-color);
}

form>*:not(:first-child) {
    margin-top: 24px;
}

form .row>* {
    margin: 0;
}

form label {
    margin-bottom: 8px;
}

form .form-control {
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 36px;
}

form .form-control:focus {
    box-shadow: none;
    border-color: var(--primary-design-color);
}

form textarea.form-control {
    resize: none;
}