::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--quaternary-design-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-design-color);
}